html,
body {
  min-height: 100%;
  background-image: linear-gradient(
    109.6deg,
    rgba(5, 84, 94, 1) 16%,
    #bbb 91.1%
  );
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg {
  background-color: #305555;
}

#canvas {
  min-width: 1000px;
  min-height: 600px;
}

#legend {
  background-image: linear-gradient(
    109.6deg,
    rgba(5, 84, 94, 1) 16%,
    #bbb 91.1%
  );
}
#tooltip {
  visibility: hidden;
  height: auto;
  width: auto;
}

.county:hover {
  fill: black;
}
